@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
  background-color: antiquewhite;
}
.dark-mode {
  background-color: black;
  color: antiquewhite;
}

.light-mode {
  background-color: antiquewhite;
  color: black;
}

.heading-text {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 3rem;
    text-align: center;
  }

.sub-heading-text {
    color: rgb(23, 22, 22);
    font-family: 'Yusei Magic', sans-serif;
    font-size: 2rem;
    text-align: center;
  }

#clock {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 4rem;
    text-align: center;
}

#toggle-dark-light{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#DarkModetext {
  font-size: 2rem;
  font-family: 'Yusei Magic', sans-serif;
  color: rgb(23, 22, 22);
}

i.fa-moon, i.fa-sun {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
    position: relative;
    width: 100%;
}

/* Music Player */
#music-container {
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

#title {
  font-size: 1.5rem;
}

.pause-n-play,
.previous,
.next {
  padding: 25px;
  opacity: 0.8;
  transition: opacity .2s;
}

.pause-n-play:hover,
.previous:hover,
.next:hover {
  opacity: 1.0;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider {
  width: 75%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}
 
.seek_slider {
  width: 60%;
}
 
.volume_slider {
  width: 30%;
}
 
.current-time,
.total-duration {
  padding: 10px;
}
 
i.fa-volume-low,
i.fa-volume-high {
  padding: 10px;
}

i.fa-play,
i.fa-pause-circle,
i.fa-forward-step,
i.fa-backward-step {
  cursor: pointer;
}