html {
    background-color: antiquewhite;
}

.heading-text {
    text-align: center;
}

.gif-and-image-bank {
    width: 700px;
    border: 1px solid black;
}

.container {
    position: relative;
    width: 100%;
}

.totoro-gif {
    width: 700px;
}

.ponyo-gif {
    width: 700px;
}

.howls-gif {
    width: 700px;
}

.spiritedaway-gif {
    width: 700px;
}

.princessmono-gif {
    width: 700px;
}

.kikis-gif {
    width: 700px;
}

.castleinthesky-gif {
    width: 700px;
}

.graveoffireflies-gif {
    width: 700px;
}

.onlyyesterday-gif {
    width: 700px;
}

.whisperheart-gif {
    width: 700px;
}

.thewindrises-gif {
    width: 700px;
}

.thecatreturns-gif {
    width: 700px;
}